.learnMore{
    background-color: transparent;
    padding: 5px;
    border:1px solid white;
    border-radius: 10px;
    margin-top:-6px;
    width: 120px;
    color:black;
}

.learnMore:hover{
    background-color: tomato;
}

.red{
    background-color:white;
   
}

.navbar-default .navbar-nav>li>a {
    color:black;
}
.navbar-default .navbar-nav>li>a:hover {
    color:red;
}

.navbar-default .navbar-brand {
    color: black;
}
.pozadina{
    background-image: linear-gradient(to right, darkblue, purple, pink);
    height: 100vh; 
}

.kopce{
    border-radius: 20px;
    width: 200px;
}

.pozicija{
    position: relative;
    top:170px;
}

.pic2{
    background-image: url(portfolio-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    
   
}
.pic2:hover .none{
    display:inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    height: 500px;

}

.pic3:hover .none{
    display:inline-block;  
    background-color: rgba(255, 255, 255, 0.9);
    height: 500px;   
  }
.pic3{
    background-image: url(portfolio-6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
   
}

.none{
    display: none;
    height: 500px;
    width:100%;
}

hr{
    border-top: 2px solid red;
    width: 30%;
}

i{
    color: red;
}

.ho:hover{
    background-image: linear-gradient(to right, darkblue, purple, pink);
    border-radius: 15px;
    height: 200px;
    color: white;
}

i:hover, hr:hover{
    color: white;
}
